{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for task in Sale_Item %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                {% if session.user|lower == "admin"|lower %}
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="" class="btn-small green accent-4">Done</a>
                    <a href="{{ url_for('edit_classic', task_id=task._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                </div>
                {% endif %}
                              
                <div class="col s9">
                    <strong>{{ task.Item_For_Sale }}</strong>
                    {% if task.is_urgent == "on" %}
                        <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                            data-position="right" data-tooltip="URGENT!"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ task.Sellers_Class }}</strong>
                <p>{{ task.Item_For_Sale }}</p> 
                <p>{{ task.Description_Of_Item }}</p>
                <p><em>by: {{ task.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}