{% extends "base.html" %}
{% block content %}

<div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="blue lighten-2">
                <h1 class="center-align">View Classics/Spares for Sale</h1>
                <h3 class="center-align white-text text-darken 4">
                    Profile
                </h3>
            </div>
        </div>
</div>
{% for task in Sale_Item %}
    <div class="row">
    
        <div class="col s8 m4">
			    <div class="card">
                    <div class="card-image s8">
                        <img class="activator" src="{{ task.Photo or url_for('static', filename='images/comicbike.png') }}" width="auto" height="auto">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator black-text">{{ task.Sellers_Name }}<i class="material-icons right"></i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title black-text">{{ task.Item_For_Sale }}<i class="far fa-window-close right"></i></span>
                            <p class="black-text">{{ task.Manufacturer }}</p> 
                            <p class="black-text">{{ task.Item_For_Sale }}</p>
                            <p class="black-text">{{ task.Engine_Size }}</p> 
                            <p class="black-text">{{ task.Description_Of_Item }}</p>
				    </div>
                </div>
                    
            </div>
        </div>
    
    </div>
{% endfor %}

        
{% endblock %}