{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Sale Item</h3>

    <!--<div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix light-blue-text text-darken-4"></i>
                    <input id="Seller_Class" name="Seller_Class" type="text" class="validate">
                    <label for="Seller_Class">Class</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-phone prefix light-blue-text text-darken-4"></i>
                    <input id="Sellers_Name" name="Sellers_Name" type="tel" class="validate">
                    <label for="Sellers_Name">Name</label>
                </div>
            </div>
        </form>
    </div>-->

{% endblock %}