{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Item - please change the details that need changing</h3>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edititem', task_id=task._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                        <select id="Sellers_Class" name="Sellers_Class" value="{{ task.Sellers_Class }}" class="validate" required>
                        <option value="Sellers_Class" disabled selected>{{ task.Sellers_Class }}</option>
                        {% for category in saletype %}
                            <option value="{{ category.salename }}">{{ category.salename }}</option>
                        {% endfor %}
                    </select>

				</div>
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="Sellers_Name" name="Sellers_Name" type="text" value="{{ task.Sellers_Name }}" class="validate">
                    <label for="Sellers_Name">Name</label>
                </div>
                 <div class="input-field col s12">
                    <i class="fas fa-phone prefix light-blue-text text-darken-4"></i>
                    <input id="Sellers_Phone_Number" name="Sellers_Phone_Number" type="tel" value="{{ task.Sellers_Phone_Number }}" class="validate">
                    <label for="Sellers_Phone_Number">Sellers Phone Number</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-envelope-square prefix light-blue-text text-darken-4"></i>
                    <input id="Email_Address" name="Email_Address" type="tel" value="{{ task.Email_Address }}" class="validate">
                    <label for="Email_Address"> Email Address</label>
                </div>
                <div class="input-field col s12">
                    <i class="far fa-keyboard prefix light-blue-text text-darken-4"></i>
                    <input id="Item_For_Sale" name="Item_For_Sale" type="tel" value="{{ task.Item_For_Sale }}" class="validate">
                    <label for="Item_For_Sale">Item for Sale</label>
                </div>
                <div class="input-field col s12">
                    <i class="far fa-keyboard prefix light-blue-text text-darken-4"></i>
                    <input id="Manufacturer" name="Manufacturer" type="text" value="{{ task.Manufacturer }}"class="validate">
                    <label for="Manufacturer">Manufacturer</label>
                </div>
                <div class="input-field col s12">
                    <i class="far fa-keyboard prefix light-blue-text text-darken-4"></i>
                    <input id="Model" name="Model" type="tel" class="validate" value="{{ task.Model }}">
                    <label for="Model">Model</label>
                </div>
                <div class="input-field col s12">
                    <i class="far fa-keyboard prefix light-blue-text text-darken-4"></i>
                    <input id="Engine_Size" name="Engine_Size" type="text" class="validate">
                    <label for="Engine_Size">Engine Size</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="Description_Of_Item" name="Description_Of_Item" minlength="5"
                        maxlength="500" class="materialize-textarea validate" required>{{ task.Description_Of_Item }}</textarea>
                    <label for="Description_Of_Item">Item Description</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-camera-retro prefix light-blue-text text-darken-4"></i>
                    <input id="Photo" name="Photo" type="text" value="{{ task.Photo }}" class="validate">
                    <label for="Photo">Add Photos (Max 12)</label>
                </div>
            </div>
            {% if session.user|lower == "admin"|lower %}
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                            <label for="approved">
                                {% if task.approved == "on" %}
                                    <input type="checkbox" id="approved" name="approved" checked>
                                Un-Approved
                                {% else %}
                                    <input type="checkbox" id="approved" name="approved">
                                {% endif %}
                                <span class="lever"></span>
                                Approved
                            </label>
                        </div>
            {% endif %}
            <div class="row">
                <!-- Submit button -->
                <div class="col s12 center-align">
                     <!-- cancel button -->
                    <a href="{{ url_for('get_tasks') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit Task <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>


        </form>
    </div>
{% endblock %}