{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for task in Sale_Item %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ task.Sellers_Name }}</strong> : {{ task.Item_For_Sale }}
            </div>
            <div class="collapsible-body">
                <strong>{{ task.Sellers_Class }}</strong>
                <p>{{ task.Ddescription_Of_Item }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}